html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #1e313f;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: transparent;
  width: 240px;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.ear-left-outer, .ear-right-outer {fill:#919191;}
.ear-left-inner, .ear-right-inner {fill:#6D6D6D;}
.eye-right-outer, .eye-left-outer, .nostril-right-outer, .nostril-left-outer, .body {fill:#AAAAAA;}
.eye-right-inner, .eye-left-inner {fill:#FFFFFF;}
.nostril-right-inner, .nostril-left-inner{fill:#8C8C8C;}
.freckle {fill:#7C7C7C;}
.tongue {fill:#FF4848;}
.tooth-left, .tooth-right {fill:#FFFFE1;}